<%- include ../partials/head%>
    <% include ../partials/basicmenu%>

        <div id="wrapper">
            <section class="main items">
                <article class="item">

                    <img src="/images/<%=dataRoom.photo_url%>" alt="<%= dataRoom.name%>" style="width : 85%">
                    <p>
                        Building Name :
                        <%= dataRoom.name%>
                    </p>
                    <p>
                        Address :
                        <%= dataRoom.address%>,
                            <%= dataRoom.city%>
                    </p>
                    <p>
                        Facility :
                        <%= dataRoom.facility%>
                    </p>
                    <p>
                        Capacity :
                        <%= dataRoom.capacity%>
                    </p>
                    <p>
                        Price :
                        <%= dataRoom.price%> / day
                    </p>
                    <ul class="actions">
                        <li><a href="/booking/<%= dataRoom.id%>" class="button">booking</a></li>
                    </ul>
                </article>
            </section>

<% include ../partials/footer%>