<%- include ../partials/head%>
    <% include ../partials/basicmenu%>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <img src="/images/<%=dataRoom.photo_url%>" alt="<%= dataRoom.name%>" style="width:50%">
                <p>
                    Building Name :
                    <%= dataRoom.name%>
                </p>
                <p>
                    Address :
                    <%= dataRoom.address%>,
                        <%= dataRoom.city%>
                </p>
                <p>
                    Facility :
                    <%= dataRoom.facility%>
                </p>
                <p>
                    Capacity :
                    <%= dataRoom.capacity%>
                </p>
                <p>
                    Price :
                    <%= dataRoom.price%> / day
                </p>
                <ul class="actions">
                    <%if(Session.isLogin){%>
                        <li><a href="/booking/<%= dataRoom.id%>" class="button">Reservation Request</a></li>
                        <%}else{%>
                            <li><a href="/login" class="button">Login dulu</a></li>
                            <%}%>
                                <%if(Session.isLogin){%>
                                    <% include ../rooms/booking%>
                                        <%}%>

                                            <%if(Session.onBooking){%>
                                                <% include ../rooms/check_invoice%>
                                                    <%}%>

            </div>
        </div>






        <% include ../partials/footer%>