<%- include ../partials/head%>
    <% include ../partials/menu%>
        <div class="container">
            <form action="/booking" method="POST">
                Select The Location : <br>
                <select name="city">
                    <<option value="">----Select----</option>
                    <option value="Jakarta Barat">
                        Jakarta Barat
                    </option>
                    <option value="Jakarta Timur">
                        Jakarta Timur
                    </option>
                    <option value="Jakarta Selatan">
                        Jakarta Selatan
                    </option>
                    <option value="Jakarta Pusat">
                        Jakarta Pusat
                    </option>
                    <option value="Jakarta Utara">
                        Jakarta Utara
                    </option>
               </select>
                <input type="submit" value="Search" />
            </form>
        </div>
        <% if(dataRooms.length > 0){ 
            dataRooms.forEach((room)=>{%>
            <div class="container">
                <div class="row">
                    <%= room.name%>
                </div>
                <div class="row">
                        <%= room.address%>
                            <%= room.city%>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/images/<%=room.photo_url%>">
                    </div>
                    
                </div>
            </div>
            <% })}%>

                <%- include ../partials/footer%>