<%- include ../partials/head%>
    
        <% if(dataRooms.length > 0){ 
            dataRooms.forEach((room)=>{%>
            <div class="container">
                <div class="row">
                    <%= room.name%>
                </div>
                <div class="row">
                        <%= room.address%>
                            <%= room.city%>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="/images/<%=room.photo_url%>">
                    </div>
                    
                </div>
            </div>
            <% })}%>

                <%- include ../partials/footer%>